# First Steps with the FXCM API

## Connecting to the API / Server

In [1]:
import pandas as pd
import fxcmpy

In [2]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

#api = fxcmpy.fxcmpy(access_token=TOKEN, log_level='debug', server='demo', log_file='mylog3.txt')

In [ ]:
api.

In [3]:
api.get_accounts()

,t,ratePrecision,accountId,balance,usdMr,mc,mcDate,accountName,usdMr3,hedging,usableMargin3,usableMarginPerc,usableMargin3Perc,equity,usableMargin,bus,dayPL,grossPL
0,6,0,1331193,2017.05,0,N,,01331193,0,Y,2017.05,100,100,2017.05,2017.05,1000,0.08,0

In [4]:
api.get_account_ids()

[1331193]

In [5]:
api.get_instruments()

['EUR/USD',
 'USD/JPY',
 'GBP/USD',
 'USD/CHF',
 'EUR/CHF',
 'AUD/USD',
 'USD/CAD',
 'NZD/USD',
 'EUR/GBP',
 'EUR/JPY',
 'GBP/JPY',
 'CHF/JPY',
 'GBP/CHF',
 'EUR/AUD',
 'EUR/CAD',
 'AUD/CAD',
 'AUD/JPY',
 'CAD/JPY',
 'NZD/JPY',
 'GBP/CAD',
 'GBP/NZD',
 'GBP/AUD',
 'AUD/NZD',
 'USD/SEK',
 'EUR/SEK',
 'EUR/NOK',
 'USD/NOK',
 'USD/MXN',
 'AUD/CHF',
 'EUR/NZD',
 'USD/ZAR',
 'USD/HKD',
 'ZAR/JPY',
 'USD/TRY',
 'EUR/TRY',
 'NZD/CHF',
 'CAD/CHF',
 'NZD/CAD',
 'TRY/JPY',
 'USD/ILS',
 'USD/CNH',
 'AUS200',
 'ESP35',
 'FRA40',
 'GER30',
 'HKG33',
 'JPN225',
 'NAS100',
 'SPX500',
 'UK100',
 'US30',
 'Copper',
 'CHN50',
 'EUSTX50',
 'VOLX',
 'USDOLLAR',
 'US2000',
 'INDIA50',
 'USOil',
 'UKOil',
 'SOYF',
 'NGAS',
 'USOilSpot',
 'UKOilSpot',
 'WHEATF',
 'CORNF',
 'Bund',
 '5USNote',
 '10USNote',
 '2USNote',
 'Bobl',
 'Schatz',
 'FED30D',
 'EURIBOR3M',
 'EURDLR3M',
 'SONIA3M',
 'IBHY',
 'XAU/USD',
 'XAG/USD',
 'EMBasket',
 'JPYBasket',
 'ESPORTS',
 'BIOTECH',
 'CANNABIS',
 'FAANG',
 'CHN.TECH',
 'CHN.ECOMM',
 'AIRLINES',
 'CASINOS',
 'TRAVEL',
 'US.ECOMM',
 'US.BANKS',
 'US.AUTO',
 'WFH',
 'ATMX',
 'URANIUM',
 'Cryptostock',
 'BA.us',
 'BAC.us',
 'BRKB.us',
 'C.us',
 'CRM.us',
 'DIS.us',
 'F.us',
 'JPM.us',
 'KO.us',
 '',
 'MA.us',
 'MCD.us',
 '',
 '',
 '',
 'PFE.us',
 'PG.us',
 '',
 'SE.us',
 '',
 '',
 'T.us',
 'TGT.us',
 '',
 'V.us',
 '',
 '',
 '',
 'XOM.us',
 'AAPL.us',
 'AMZN.us',
 'BIDU.us',
 'GOOG.us',
 'INTC.us',
 'MSFT.us',
 '',
 '',
 'SBUX.us',
 'AGN.nl',
 'ASML.nl',
 'DSM.nl',
 'HEIA.nl',
 'INGA.nl',
 'KPN.nl',
 'PHIA.nl',
 'ACA.fr',
 'AI.fr',
 'ALO.fr',
 'BN.fr',
 'BNP.fr',
 'CA.fr',
 '',
 'DG.fr',
 'AIR.fr',
 '',
 'ORA.fr',
 'GLE.fr',
 'MC.fr',
 'ML.fr',
 'OR.fr',
 '',
 '',
 'RNO.fr',
 'SAN.fr',
 'SGO.fr',
 'SU.fr',
 'VIE.fr',
 'VIV.fr',
 '',
 'ADS.de',
 'ALV.de',
 'BAS.de',
 'BAYN.de',
 'BMW.de',
 'CON.de',
 'DB1.de',
 'DBK.de',
 'DPW.de',
 'DTE.de',
 'EOAN.de',
 '',
 'IFX.de',
 'LHA.de',
 'MRK.de',
 'RWE.de',
 'SAP.de',
 '',
 'SIE.de',
 '',
 'TUI1.de',
 'VOW.de',
 '',
 '',
 'AV.uk',
 'AZN.uk',
 'BA.uk',
 'BARC.uk',
 'BATS.uk',
 'BP.uk',
 '',
 'GSK.uk',
 'HSBA.uk',
 'IAG.uk',
 'LGEN.uk',
 'LLOY.uk',
 'RR.uk',
 'STAN.uk',
 '',
 'TSCO.uk',
 '',
 'VOD.uk',
 'BABA.us',
 'DAL.us',
 '',
 'NFLX.us',
 'TSLA.us',
 '',
 'GLEN.uk',
 'TTE.fr',
 'ENGI.fr',
 'VNA.de',
 'SQ.us',
 'LYFT.us',
 'UAL.us',
 'DKNG.us',
 'SHOP.us',
 'BYND.us',
 'UBER.us',
 'ZM.us',
 'LCID.us',
 'HOOD.us',
 'CRWD.us',
 'BEKE.us',
 'CPNG.us',
 'NET.us',
 'RBLX.us',
 'ENR.de',
 'BIDU.hk',
 'COIN.us',
 'CSL.au',
 'CBA.au',
 'BHP.au',
 'WBC.au',
 'NAB.au',
 'ANZ.au',
 'WOW.au',
 'WES.au',
 'FMG.au',
 'MQG.au',
 'TLS.au',
 'RIO.au',
 'GMG.au',
 'WPL.au',
 'NCM.au',
 'COL.au',
 'ALL.au',
 'A2M.au',
 'REA.au',
 'XRO.au',
 'QAN.au',
 'Z1P.au',
 'SHEL.uk',
 'MBG.de',
 'BT.A.uk',
 'NWG.uk',
 'TW.uk',
 'MRO.uk',
 'MNG.uk',
 'ROO.uk',
 'CBK.de',
 'DHER.de',
 'STM.fr',
 'STLA.fr',
 'FVRR.us',
 'SPOT.us',
 'MARA.us',
 'BTBT.us',
 'BITF.us',
 'WISH.us',
 'META.us',
 'RIVN.us',
 'WE.us',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'ADYEN.nl',
 'BESI.nl',
 'IMCD.nl',
 'MT.nl',
 'NN.nl',
 'PRX.nl',
 'TKWY.nl',
 'TOM2.nl',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'ABN.nl',
 'AD.nl',
 'UMG.nl',
 '',
 'JD.us',
 'PDD.us',
 'TME.us',
 'WB.us',
 'BILI.us',
 'NVDA.us',
 'AMD.us',
 'DADA.us',
 '',
 'PTON.us',
 'TENC.hk',
 'MEIT.hk',
 'BYDC.hk',
 'XIAO.hk',
 'BABA.hk',
 'AIA.hk',
 'HSBC.hk',
 'WUXI.hk',
 'HKEX.hk',
 'GELY.hk',
 'JD.hk',
 'NETE.hk',
 'PING.hk',
 'SMIC.hk',
 'SBIO.hk',
 'GALA.hk',
 'KIDE.hk',
 'ALIH.hk',
 'ICBC.hk',
 'FLAT.hk',
 'KSOF.hk',
 'SMOO.hk',
 'SUNN.hk',
 'BYDE.hk',
 'TWTR.us',
 'MRNA.us',
 'NIO.us',
 'CCL.us',
 'ABNB.us',
 'DASH.us',
 'AMC.us',
 'BNGO.us',
 'FCEL.us',
 'GME.us',
 'PENN.us',
 'PLTR.us',
 'PLUG.us',
 'PYPL.us',
 'SNAP.us',
 'SNOW.us',
 'SPCE.us',
 'XPEV.us',
 'SONY.us']

In [6]:
instr = api.get_instruments()
instr

['EUR/USD',
 'USD/JPY',
 'GBP/USD',
 'USD/CHF',
 'EUR/CHF',
 'AUD/USD',
 'USD/CAD',
 'NZD/USD',
 'EUR/GBP',
 'EUR/JPY',
 'GBP/JPY',
 'CHF/JPY',
 'GBP/CHF',
 'EUR/AUD',
 'EUR/CAD',
 'AUD/CAD',
 'AUD/JPY',
 'CAD/JPY',
 'NZD/JPY',
 'GBP/CAD',
 'GBP/NZD',
 'GBP/AUD',
 'AUD/NZD',
 'USD/SEK',
 'EUR/SEK',
 'EUR/NOK',
 'USD/NOK',
 'USD/MXN',
 'AUD/CHF',
 'EUR/NZD',
 'USD/ZAR',
 'USD/HKD',
 'ZAR/JPY',
 'USD/TRY',
 'EUR/TRY',
 'NZD/CHF',
 'CAD/CHF',
 'NZD/CAD',
 'TRY/JPY',
 'USD/ILS',
 'USD/CNH',
 'AUS200',
 'ESP35',
 'FRA40',
 'GER30',
 'HKG33',
 'JPN225',
 'NAS100',
 'SPX500',
 'UK100',
 'US30',
 'Copper',
 'CHN50',
 'EUSTX50',
 'VOLX',
 'USDOLLAR',
 'US2000',
 'INDIA50',
 'USOil',
 'UKOil',
 'SOYF',
 'NGAS',
 'USOilSpot',
 'UKOilSpot',
 'WHEATF',
 'CORNF',
 'Bund',
 '5USNote',
 '10USNote',
 '2USNote',
 'Bobl',
 'Schatz',
 'FED30D',
 'EURIBOR3M',
 'EURDLR3M',
 'SONIA3M',
 'IBHY',
 'XAU/USD',
 'XAG/USD',
 'EMBasket',
 'JPYBasket',
 'ESPORTS',
 'BIOTECH',
 'CANNABIS',
 'FAANG',
 'CHN.TECH',
 'CHN.ECOMM',
 'AIRLINES',
 'CASINOS',
 'TRAVEL',
 'US.ECOMM',
 'US.BANKS',
 'US.AUTO',
 'WFH',
 'ATMX',
 'URANIUM',
 'Cryptostock',
 'BA.us',
 'BAC.us',
 'BRKB.us',
 'C.us',
 'CRM.us',
 'DIS.us',
 'F.us',
 'JPM.us',
 'KO.us',
 '',
 'MA.us',
 'MCD.us',
 '',
 '',
 '',
 'PFE.us',
 'PG.us',
 '',
 'SE.us',
 '',
 '',
 'T.us',
 'TGT.us',
 '',
 'V.us',
 '',
 '',
 '',
 'XOM.us',
 'AAPL.us',
 'AMZN.us',
 'BIDU.us',
 'GOOG.us',
 'INTC.us',
 'MSFT.us',
 '',
 '',
 'SBUX.us',
 'AGN.nl',
 'ASML.nl',
 'DSM.nl',
 'HEIA.nl',
 'INGA.nl',
 'KPN.nl',
 'PHIA.nl',
 'ACA.fr',
 'AI.fr',
 'ALO.fr',
 'BN.fr',
 'BNP.fr',
 'CA.fr',
 '',
 'DG.fr',
 'AIR.fr',
 '',
 'ORA.fr',
 'GLE.fr',
 'MC.fr',
 'ML.fr',
 'OR.fr',
 '',
 '',
 'RNO.fr',
 'SAN.fr',
 'SGO.fr',
 'SU.fr',
 'VIE.fr',
 'VIV.fr',
 '',
 'ADS.de',
 'ALV.de',
 'BAS.de',
 'BAYN.de',
 'BMW.de',
 'CON.de',
 'DB1.de',
 'DBK.de',
 'DPW.de',
 'DTE.de',
 'EOAN.de',
 '',
 'IFX.de',
 'LHA.de',
 'MRK.de',
 'RWE.de',
 'SAP.de',
 '',
 'SIE.de',
 '',
 'TUI1.de',
 'VOW.de',
 '',
 '',
 'AV.uk',
 'AZN.uk',
 'BA.uk',
 'BARC.uk',
 'BATS.uk',
 'BP.uk',
 '',
 'GSK.uk',
 'HSBA.uk',
 'IAG.uk',
 'LGEN.uk',
 'LLOY.uk',
 'RR.uk',
 'STAN.uk',
 '',
 'TSCO.uk',
 '',
 'VOD.uk',
 'BABA.us',
 'DAL.us',
 '',
 'NFLX.us',
 'TSLA.us',
 '',
 'GLEN.uk',
 'TTE.fr',
 'ENGI.fr',
 'VNA.de',
 'SQ.us',
 'LYFT.us',
 'UAL.us',
 'DKNG.us',
 'SHOP.us',
 'BYND.us',
 'UBER.us',
 'ZM.us',
 'LCID.us',
 'HOOD.us',
 'CRWD.us',
 'BEKE.us',
 'CPNG.us',
 'NET.us',
 'RBLX.us',
 'ENR.de',
 'BIDU.hk',
 'COIN.us',
 'CSL.au',
 'CBA.au',
 'BHP.au',
 'WBC.au',
 'NAB.au',
 'ANZ.au',
 'WOW.au',
 'WES.au',
 'FMG.au',
 'MQG.au',
 'TLS.au',
 'RIO.au',
 'GMG.au',
 'WPL.au',
 'NCM.au',
 'COL.au',
 'ALL.au',
 'A2M.au',
 'REA.au',
 'XRO.au',
 'QAN.au',
 'Z1P.au',
 'SHEL.uk',
 'MBG.de',
 'BT.A.uk',
 'NWG.uk',
 'TW.uk',
 'MRO.uk',
 'MNG.uk',
 'ROO.uk',
 'CBK.de',
 'DHER.de',
 'STM.fr',
 'STLA.fr',
 'FVRR.us',
 'SPOT.us',
 'MARA.us',
 'BTBT.us',
 'BITF.us',
 'WISH.us',
 'META.us',
 'RIVN.us',
 'WE.us',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'ADYEN.nl',
 'BESI.nl',
 'IMCD.nl',
 'MT.nl',
 'NN.nl',
 'PRX.nl',
 'TKWY.nl',
 'TOM2.nl',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'ABN.nl',
 'AD.nl',
 'UMG.nl',
 '',
 'JD.us',
 'PDD.us',
 'TME.us',
 'WB.us',
 'BILI.us',
 'NVDA.us',
 'AMD.us',
 'DADA.us',
 '',
 'PTON.us',
 'TENC.hk',
 'MEIT.hk',
 'BYDC.hk',
 'XIAO.hk',
 'BABA.hk',
 'AIA.hk',
 'HSBC.hk',
 'WUXI.hk',
 'HKEX.hk',
 'GELY.hk',
 'JD.hk',
 'NETE.hk',
 'PING.hk',
 'SMIC.hk',
 'SBIO.hk',
 'GALA.hk',
 'KIDE.hk',
 'ALIH.hk',
 'ICBC.hk',
 'FLAT.hk',
 'KSOF.hk',
 'SMOO.hk',
 'SUNN.hk',
 'BYDE.hk',
 'TWTR.us',
 'MRNA.us',
 'NIO.us',
 'CCL.us',
 'ABNB.us',
 'DASH.us',
 'AMC.us',
 'BNGO.us',
 'FCEL.us',
 'GME.us',
 'PENN.us',
 'PLTR.us',
 'PLUG.us',
 'PYPL.us',
 'SNAP.us',
 'SNOW.us',
 'SPCE.us',
 'XPEV.us',
 'SONY.us']

In [7]:
len(instr)

451

In [8]:
api.close()

## Getting Historical Data (Part 1)

In [9]:
import pandas as pd
import fxcmpy

In [10]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [11]:
help(api.get_candles)

Help on method get_candles in module fxcmpy.fxcmpy:

get_candles(instrument='', offer_id=None, period='H1', number=10, start=None, end=None, with_index=True, columns=[], stop=None) method of fxcmpy.fxcmpy.fxcmpy instance
    Return historical data from the fxcm database as pandas.DataFrame.

    Arguments:

    instrument: string (default ''):
        the instrument for which data is requested. For a list of all
        available instruments for historical data, use
        get_instruments_for_candles().
        If the value is equal to '' (default), offer_id must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    offer_id: integer (default None):
        the id of the instrument for which data is requested as given in the
        offer trading table as given by get_offers(). If offer_id is equal
        to None (default), the parameter instrument must have a value.
        If both, instrument and offer_id are given, the value of instrument
        is used.

    period: string,
        the granularity of the data. Must be one of
        'm1', 'm5', 'm15', 'm30', 'H1', 'H2', 'H3', 'H4', 'H6', 'H8',
        'D1', 'W1', or 'M1'.

    number: integer (default 10),
        the number of candles to receive.

    start: datetime.datetime, datetime.date or string (defaut None),
        the first date to receive data for.

    end: datetime.datetime, datetime.date or string (default None),
        the last date to receive data for.

    with_index: boolean (default True),
        whether the column 'date' should server as index in the resulting
        pandas.DataFrame.

    columns: list (default list()),
        a list of column labels the result should include. If empty, all
        columns are returned.

        Available column labels are

        'date', 'bidopen', 'bidclose', 'bidhigh', 'bidlow',
        'askopen', 'askclose', 'askhigh', 'asklow', 'tickqty'.

        Also available is 'asks' as shortcut for all ask related columns
        and 'bids' for all bid related columns, respectively.

        The column 'date' is always included.

    Returns:

    A pandas DataFrame containing the requested data.

In [12]:
api.get_candles('EUR/USD')

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2022-09-23 03:00:00,0.98270,0.98225,0.98317,0.98194,0.98292,0.98247,0.98341,0.98218,5627
2022-09-23 04:00:00,0.98224,0.98219,0.98277,0.98173,0.98247,0.98240,0.98300,0.98196,5547
2022-09-23 05:00:00,0.98218,0.98285,0.98320,0.98215,0.98240,0.98306,0.98343,0.98236,8162
2022-09-23 06:00:00,0.98284,0.98115,0.98371,0.98072,0.98307,0.98137,0.98395,0.98095,17509
2022-09-23 07:00:00,0.98114,0.97743,0.98127,0.97660,0.98137,0.97766,0.98150,0.97683,35786
2022-09-23 08:00:00,0.97743,0.97521,0.97794,0.97501,0.97765,0.97542,0.97818,0.97522,25220
2022-09-23 09:00:00,0.97521,0.97612,0.97682,0.97354,0.97543,0.97633,0.97704,0.97375,31547
2022-09-23 10:00:00,0.97611,0.97493,0.97705,0.97492,0.97633,0.97515,0.97728,0.97513,36877
2022-09-23 11:00:00,0.97491,0.97504,0.97647,0.97379,0.97514,0.97526,0.97671,0.97401,37149
2022-09-23 12:00:00,0.97504,0.97587,0.97595,0.97470,0.97525,0.97610,0.97616,0.97493,5063

In [13]:
api.get_candles('EUR/USD', number = 10000)

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-02-26 13:00:00,1.21137,1.21226,1.21241,1.21050,1.21159,1.21246,1.21261,1.21067,25443
2021-02-26 14:00:00,1.21226,1.21237,1.21368,1.21151,1.21246,1.21259,1.21389,1.21171,28113
2021-02-26 15:00:00,1.21237,1.21377,1.21404,1.21082,1.21259,1.21398,1.21424,1.21103,46363
2021-02-26 16:00:00,1.21377,1.20906,1.21391,1.20892,1.21398,1.20927,1.21410,1.20914,34601
2021-02-26 17:00:00,1.20906,1.20788,1.20931,1.20725,1.20927,1.20811,1.20952,1.20745,16317
...,...,...,...,...,...,...,...,...,...
2022-09-23 08:00:00,0.97743,0.97521,0.97794,0.97501,0.97765,0.97542,0.97818,0.97522,25220
2022-09-23 09:00:00,0.97521,0.97612,0.97682,0.97354,0.97543,0.97633,0.97704,0.97375,31547
2022-09-23 10:00:00,0.97611,0.97493,0.97705,0.97492,0.97633,0.97515,0.97728,0.97513,36877
2022-09-23 11:00:00,0.97491,0.97504,0.97647,0.97379,0.97514,0.97526,0.97671,0.97401,37149
2022-09-23 12:00:00,0.97504,0.97513,0.97595,0.97470,0.97525,0.97534,0.97616,0.97493,6802

In [14]:
df = api.get_candles('EUR/USD', number = 10000)
df

,bidopen,bidclose,bidhigh,bidlow,askopen,askclose,askhigh,asklow,tickqty
date,,,,,,,,,
2021-02-26 13:00:00,1.21137,1.21226,1.21241,1.21050,1.21159,1.21246,1.21261,1.21067,25443
2021-02-26 14:00:00,1.21226,1.21237,1.21368,1.21151,1.21246,1.21259,1.21389,1.21171,28113
2021-02-26 15:00:00,1.21237,1.21377,1.21404,1.21082,1.21259,1.21398,1.21424,1.21103,46363
2021-02-26 16:00:00,1.21377,1.20906,1.21391,1.20892,1.21398,1.20927,1.21410,1.20914,34601
2021-02-26 17:00:00,1.20906,1.20788,1.20931,1.20725,1.20927,1.20811,1.20952,1.20745,16317
...,...,...,...,...,...,...,...,...,...
2022-09-23 08:00:00,0.97743,0.97521,0.97794,0.97501,0.97765,0.97542,0.97818,0.97522,25220
2022-09-23 09:00:00,0.97521,0.97612,0.97682,0.97354,0.97543,0.97633,0.97704,0.97375,31547
2022-09-23 10:00:00,0.97611,0.97493,0.97705,0.97492,0.97633,0.97515,0.97728,0.97513,36877
2022-09-23 11:00:00,0.97491,0.97504,0.97647,0.97379,0.97514,0.97526,0.97671,0.97401,37149
2022-09-23 12:00:00,0.97504,0.97513,0.97595,0.97470,0.97525,0.97534,0.97616,0.97493,6802

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10000 entries, 2021-02-26 13:00:00 to 2022-09-23 12:00:00
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bidopen   10000 non-null  float64
 1   bidclose  10000 non-null  float64
 2   bidhigh   10000 non-null  float64
 3   bidlow    10000 non-null  float64
 4   askopen   10000 non-null  float64
 5   askclose  10000 non-null  float64
 6   askhigh   10000 non-null  float64
 7   asklow    10000 non-null  float64
 8   tickqty   10000 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 781.2 KB

In [ ]:
api.get_candles('EUR/USD', number = 5, columns = ["bids"])

In [ ]:
api.get_candles('EUR/USD', number = 5, columns = ["asks"])

## Getting Historical Data (Part 2)

In [16]:
api.get_candles('EUR/USD', number = 10000, columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2021-02-26 13:00:00  1.21159   1.21246  1.21261  1.21067
2021-02-26 14:00:00  1.21246   1.21259  1.21389  1.21171
2021-02-26 15:00:00  1.21259   1.21398  1.21424  1.21103
2021-02-26 16:00:00  1.21398   1.20927  1.21410  1.20914
2021-02-26 17:00:00  1.20927   1.20811  1.20952  1.20745
...                      ...       ...      ...      ...
2022-09-23 08:00:00  0.97765   0.97542  0.97818  0.97522
2022-09-23 09:00:00  0.97543   0.97633  0.97704  0.97375
2022-09-23 10:00:00  0.97633   0.97515  0.97728  0.97513
2022-09-23 11:00:00  0.97514   0.97526  0.97671  0.97401
2022-09-23 12:00:00  0.97525   0.97575  0.97616  0.97493

[10000 rows x 4 columns]

In [17]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12346   1.12318  1.12347  1.12287
2020-07-01 01:00:00  1.12318   1.12399  1.12407  1.12301
2020-07-01 02:00:00  1.12399   1.12391  1.12419  1.12375
2020-07-01 03:00:00  1.12391   1.12276  1.12400  1.12233
2020-07-01 04:00:00  1.12276   1.12193  1.12284  1.12162
...                      ...       ...      ...      ...
2020-07-30 20:00:00  1.18457   1.18484  1.18494  1.18442
2020-07-30 21:00:00  1.18484   1.18430  1.18488  1.18384
2020-07-30 22:00:00  1.18430   1.18493  1.18498  1.18414
2020-07-30 23:00:00  1.18493   1.18733  1.18777  1.18442
2020-07-31 00:00:00  1.18733   1.18673  1.18899  1.18630

[538 rows x 4 columns]

In [18]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "H1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-01 00:00:00  1.12346   1.12318  1.12347  1.12287
2020-07-01 01:00:00  1.12318   1.12399  1.12407  1.12301
2020-07-01 02:00:00  1.12399   1.12391  1.12419  1.12375
2020-07-01 03:00:00  1.12391   1.12276  1.12400  1.12233
2020-07-01 04:00:00  1.12276   1.12193  1.12284  1.12162
...                      ...       ...      ...      ...
2020-07-30 20:00:00  1.18457   1.18484  1.18494  1.18442
2020-07-30 21:00:00  1.18484   1.18430  1.18488  1.18384
2020-07-30 22:00:00  1.18430   1.18493  1.18498  1.18414
2020-07-30 23:00:00  1.18493   1.18733  1.18777  1.18442
2020-07-31 00:00:00  1.18733   1.18673  1.18899  1.18630

[538 rows x 4 columns]

In [19]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "D1", columns = ["asks"])

                     askopen  askclose  askhigh   asklow
date
2020-07-02 21:00:00  1.12527   1.12409  1.13037  1.12244
2020-07-03 21:00:00  1.12409   1.12503  1.12549  1.12202
2020-07-05 21:00:00  1.12503   1.12483  1.12519  1.12467
2020-07-06 21:00:00  1.12483   1.13105  1.13466  1.12483
2020-07-07 21:00:00  1.13105   1.12753  1.13336  1.12599
2020-07-08 21:00:00  1.12753   1.13314  1.13527  1.12634
2020-07-09 21:00:00  1.13314   1.12861  1.13718  1.12813
2020-07-10 21:00:00  1.12861   1.13025  1.13259  1.12558
2020-07-12 21:00:00  1.13025   1.13084  1.13125  1.13030
2020-07-13 21:00:00  1.13084   1.13456  1.13760  1.13020
2020-07-14 21:00:00  1.13456   1.14008  1.14098  1.13263
2020-07-15 21:00:00  1.14008   1.14129  1.14532  1.13921
2020-07-16 21:00:00  1.14129   1.13848  1.14428  1.13716
2020-07-17 21:00:00  1.13848   1.14304  1.14447  1.13787
2020-07-19 21:00:00  1.14304   1.14205  1.14332  1.14042
2020-07-20 21:00:00  1.14205   1.14488  1.14688  1.14034
2020-07-21 21:00:00  1.14488   1.15281  1.15408  1.14241
2020-07-22 21:00:00  1.15281   1.15709  1.16026  1.15079
2020-07-23 21:00:00  1.15709   1.15973  1.16280  1.15414
2020-07-24 21:00:00  1.15973   1.16594  1.16596  1.15823
2020-07-26 21:00:00  1.16594   1.16461  1.16592  1.16410
2020-07-27 21:00:00  1.16461   1.17528  1.17824  1.16434
2020-07-28 21:00:00  1.17528   1.17173  1.17749  1.16998
2020-07-29 21:00:00  1.17173   1.17928  1.18074  1.17152
2020-07-30 21:00:00  1.17928   1.18484  1.18494  1.17319
2020-07-31 21:00:00  1.18484   1.17834  1.19098  1.17623

In [20]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-31", 
                period = "m1", columns = ["asks"])

Empty DataFrame
Columns: [askopen, askclose, askhigh, asklow]
Index: []

In [22]:
api.get_candles('EUR/USD', start = "2020-07-01", end = "2020-07-02", 
                period = "m1", columns = ["asks"])

Empty DataFrame
Columns: [askopen, askclose, askhigh, asklow]
Index: []

In [25]:
# api.get_candles("US30", start = "2020-07-01", end = "2020-07-10", 
#                 period = "m1", columns = ["asks"])

In [2]:
# api.close()

## Streaming high-frequency real-time Data

In [1]:
import pandas as pd
import fxcmpy

In [2]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [3]:
api.subscribe_market_data("EUR/USD")

In [4]:
api.get_subscribed_symbols()

['EUR/USD']

In [5]:
api.get_last_price("EUR/USD")

Bid     0.97642
Ask     0.97665
High    0.97354
Low     0.98531
Name: 2022-09-23 12:27:47.253000, dtype: float64

In [7]:
api.get_prices("EUR/USD")

                             Bid      Ask     High      Low
2022-09-23 12:27:39.898  0.97631  0.97654  0.97354  0.98531
2022-09-23 12:27:39.898  0.97631  0.97654  0.97354  0.98531
2022-09-23 12:27:40.515  0.97633  0.97656  0.97354  0.98531
2022-09-23 12:27:41.366  0.97636  0.97659  0.97354  0.98531
2022-09-23 12:27:42.211  0.97636  0.97660  0.97354  0.98531
...                          ...      ...      ...      ...
2022-09-23 12:28:42.705  0.97668  0.97690  0.97354  0.98531
2022-09-23 12:28:43.506  0.97669  0.97690  0.97354  0.98531
2022-09-23 12:28:44.263  0.97667  0.97688  0.97354  0.98531
2022-09-23 12:28:44.872  0.97666  0.97687  0.97354  0.98531
2022-09-23 12:28:45.827  0.97665  0.97688  0.97354  0.98531

[83 rows x 4 columns]

In [8]:
import time

In [9]:
while True:
    time.sleep(1)
    print(api.get_last_price("EUR/USD").name, api.get_last_price("EUR/USD").Bid,
          api.get_last_price("EUR/USD").Ask, sep = "|")

2022-09-23 12:29:10.719000|0.97644|0.97666
2022-09-23 12:29:12.787000|0.97639|0.97661
2022-09-23 12:29:12.787000|0.97639|0.97661
2022-09-23 12:29:13.899000|0.97639|0.97661
2022-09-23 12:29:13.899000|0.97639|0.97661
2022-09-23 12:29:13.899000|0.97639|0.97661
2022-09-23 12:29:16.055000|0.9764|0.97661
2022-09-23 12:29:18.560000|0.97646|0.97667
2022-09-23 12:29:19.934000|0.97645|0.97667
2022-09-23 12:29:20.916000|0.97644|0.97666
2022-09-23 12:29:20.916000|0.97644|0.97666
2022-09-23 12:29:20.916000|0.97644|0.97666
2022-09-23 12:29:24.557000|0.97627|0.9765
2022-09-23 12:29:24.557000|0.97627|0.9765
2022-09-23 12:29:24.557000|0.97627|0.9765
2022-09-23 12:29:26.649000|0.97629|0.97651
2022-09-23 12:29:26.649000|0.97629|0.97651
2022-09-23 12:29:26.649000|0.97629|0.97651
2022-09-23 12:29:29.505000|0.97621|0.97644
2022-09-23 12:29:29.505000|0.97621|0.97644
2022-09-23 12:29:29.505000|0.97621|0.97644
2022-09-23 12:29:29.505000|0.97621|0.97644
2022-09-23 12:29:29.505000|0.97621|0.97644
2022-09-23 12:29:34.213000|0.97625|0.97647
2022-09-23 12:29:34.213000|0.97625|0.97647
2022-09-23 12:29:34.213000|0.97625|0.97647
2022-09-23 12:29:34.213000|0.97625|0.97647
2022-09-23 12:29:34.213000|0.97625|0.97647
2022-09-23 12:29:38.753000|0.9762|0.97642
2022-09-23 12:29:38.753000|0.9762|0.97642
2022-09-23 12:29:38.753000|0.9762|0.97642
2022-09-23 12:29:42.340000|0.97627|0.97649
2022-09-23 12:29:42.340000|0.97627|0.97649
2022-09-23 12:29:42.880000|0.97625|0.97646
2022-09-23 12:29:42.880000|0.97625|0.97646
2022-09-23 12:29:46.564000|0.97624|0.97646
2022-09-23 12:29:48.309000|0.97624|0.97646
2022-09-23 12:29:49.281000|0.97625|0.97646
2022-09-23 12:29:49.281000|0.97625|0.97646
2022-09-23 12:29:49.281000|0.97625|0.97646
2022-09-23 12:29:49.281000|0.97625|0.97646
2022-09-23 12:29:49.281000|0.97625|0.97646

KeyboardInterrupt:

In [10]:
api.unsubscribe_market_data("EUR/USD")

In [11]:
def print_data(data, dataframe):
    print('%3d | %s | %s, %s, %s'
          % (len(dataframe), data['Symbol'],
             pd.to_datetime(int(data['Updated']), unit='ms'),
             data['Rates'][0], data['Rates'][1]))

In [12]:
api.subscribe_market_data("EUR/USD", (print_data,))

  2 | EUR/USD | 2022-09-23 12:32:24.519000, 0.97586, 0.97607
  3 | EUR/USD | 2022-09-23 12:32:25.152000, 0.97585, 0.97606
  4 | EUR/USD | 2022-09-23 12:32:25.830000, 0.97584, 0.97606
  5 | EUR/USD | 2022-09-23 12:32:26.896000, 0.97595, 0.97616
  6 | EUR/USD | 2022-09-23 12:32:27.795000, 0.97583, 0.97605
  7 | EUR/USD | 2022-09-23 12:32:28.118000, 0.97583, 0.97604
  8 | EUR/USD | 2022-09-23 12:32:28.922000, 0.97585, 0.97606
  9 | EUR/USD | 2022-09-23 12:32:29.875000, 0.97583, 0.97604
 10 | EUR/USD | 2022-09-23 12:32:30.582000, 0.97584, 0.97606
 11 | EUR/USD | 2022-09-23 12:32:31.375000, 0.97581, 0.97602
 12 | EUR/USD | 2022-09-23 12:32:32.168000, 0.97577, 0.97599
 13 | EUR/USD | 2022-09-23 12:32:32.861000, 0.97571, 0.97592
 14 | EUR/USD | 2022-09-23 12:32:34.414000, 0.97571, 0.97593

In [13]:
api.unsubscribe_market_data("EUR/USD")

 18 | EUR/USD | 2022-09-23 12:32:37.516000, 0.97573, 0.97595

In [14]:
api.close()

## Creating Orders and Executing Trades

In [1]:
import pandas as pd
import fxcmpy

In [2]:
api = fxcmpy.fxcmpy(config_file= "fxcm.cfg")

In [3]:
api.get_open_positions()

Empty DataFrame
Columns: []
Index: []

In [4]:
api.create_market_buy_order("EUR/USD", 50)

In [5]:
api.get_open_positions()

,t,ratePrecision,tradeId,accountName,accountId,roll,com,open,valueDate,grossPL,...,usedMargin,orderId,OpenOrderRequestTXT,OpenOrderReqID,TradeIDOrigin,child_trailingStop,child_trailing,stop,stopMove,limit
0,1,5,180601509,01331193,1331193,0,0,0.97552,,-38.98396,...,500,394962416,None,Request-78023538,None,none,-1,0,0,0

In [6]:
col = ["tradeId", "amountK", "currency", "grossPL", "isBuy"]

In [7]:
api.get_open_positions()[col]

     tradeId  amountK currency   grossPL  isBuy
0  180601509       50  EUR/USD -10.76581   True

In [8]:
api.create_market_sell_order("EUR/USD", 50)

In [9]:
api.get_open_positions()[col]

     tradeId  amountK currency   grossPL  isBuy
0  180601509       50  EUR/USD -10.25305   True
1  180601541       50  EUR/USD  -6.15050  False

In [10]:
api.close_all_for_symbol("EUR/USD")

In [11]:
api.get_closed_positions()[col]

     tradeId  amountK currency  grossPL  isBuy
0  180600936        4  EUR/USD     0.16   True
1  180600925        4  EUR/USD    -0.08  False
2  180601509       50  EUR/USD    -9.74   True
3  180601541       50  EUR/USD    -6.66  False

In [12]:
api.get_closed_positions_summary()[col]

  tradeId  amountK currency  grossPL  isBuy
0              108  EUR/USD   -16.32  False

In [13]:
api.get_accounts().T

                          0
t                         6
ratePrecision             0
accountId           1331193
balance             2000.65
usdMr                     0
mc                        N
mcDate
accountName        01331193
usdMr3                    0
hedging                   Y
usableMargin3       2000.65
usableMarginPerc        100
usableMargin3Perc       100
equity              2000.65
usableMargin        2000.65
bus                    1000
dayPL                -16.32
grossPL                   0

In [14]:
api.close()